.prompt {

}

.user-info-container {

}

.user-name {
  color:#39be2b;
}

.host-name {
  color: #39be2b;
}

.working-dir {
  color: #d43bd2;
}

.user-input-container {
  
}

.user-input {
  width: 1ch;
  color: #fff;

  font-size: 1rem;
  font-family: inherit;

  border: none;
  background-color: transparent;
}

.blinker {
  display: inline-block;

  width: 0.25rem;
  height: 1rem;

  color: #fff;
  background: #fff;

  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .user-input {
    font-size: 0.75rem;
  }
}