@font-face {
  font-family: "SF Mono";
  src: url("./static/SFMono-Regular.otf") format("opentype");
  font-style: normal;
}

.App {
  height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: "SF Mono";
}

h2 {
  color: #fefefe;
  opacity: 0.9;
}
